// variable
$color: black ;

// nested
div {

    font: courier;

    a {
        color: black;
    }

    table {
        color: darkblue;
    }
}

@media (min-width: 500px) {
            #body {
              height: 400px;
            }

              h1::before {
                  content: "Project-Zero : My Four Interests";
              }
          }

          @media (max-width: 499px) {
            #body {
              height: 600px;
            }

              h1::before {
                  content: "PRJ 0: 4 Interests";
              }
          }
          h1 {
              color: royalblue;
              text-align: center;
              background-color:#E1FA79;
          }
//class selector
.container {
  display: flex;
  flex-wrap: wrap;
}

%textdec {
  text-decoration:none;
    color:$color;
      text-align: center;
}
.sc   {
  // inheritence 
  @extend %textdec;
    background-color: lightsalmon;
      }
.ds  {
    @extend %textdec;
    background-color: lightpink;
      }
.py  {
    @extend %textdec;
    background-color: lightgreen;
      }
.wd  {
    @extend %textdec;
    background-color: skyblue;
      }
//hover selctor

      .sc:hover   {
          @extend %textdec;
          background-color: salmon;
          color:$color;
            }
      .ds:hover  {
          @extend %textdec;
          background-color: lightcoral;
          color:$color;
            }
      .py:hover  {
          @extend %textdec;
          background-color: yellowgreen;
          color:$color;
            }
      .wd:hover  {
          @extend %textdec;
          background-color: steelblue;
          color:$color;
            }
/*
.container > a {
    @extend %textdec;
  font-size: 20px;
  margin: 20px;
  padding: 20px;
  width: auto;
  text-align: center;
   }
*/
//child selector
.row > div {
  @extend %textdec;
font-size: 20px;
//margin: 0px;
padding: 10px;
//border: 1px solid black;
//width: auto;
//text-align: center;
       }


// id selector
   #home {
 	  background-color: lightgrey;
 	  font-size: 20px;
 	  text-align: center;
 	}

  #home:hover {
   @extend %textdec;
   background-color: white;
 }

#body  {
//  height: 400px;
  background-color: honeydew;
}

img {
  float: right;
  padding-right: 5%;
  height: 150px;
}
table {
                border: 2px solid black;
                border-collapse: collapse;

      }

// element, element selector
            th , td {
                border: 1px solid black;
                padding: 5px;
                text-align: center;
                font-size: 10px;
            }

            th {
                background-color: lightblue;
            }

            .grid {

                            display: grid;
                            padding: 5px;
                            grid-column-gap: 10px;
                            grid-row-gap: 10px;
                            grid-template-columns: auto  auto;
                        }

                        .grid-item {
                            background-color: LAVENDER;
                            font-size: 20px;
                            padding: 10px;
                            text-align: center;
                        }
footer {text-align:center ; font-weight: bold; }
